body{
    background-color: rgb(255, 255, 255);
    font-family: "Roboto";
    width: 100%;
    margin: 0;
  }

h2{
  font-family: "Bokor";
}

#calories{
  font-family: "Bahiana";
}

/* everything before the ingredients */

.intro {
  display: flex;      
  align-items: center;    
  justify-content: center;  
  gap: 140px;              
  width: 100%;;     
  margin: 0 auto;           
  padding: 20px;
  background-color: antiquewhite;
}


.description{
  flex: 1;
  text-align: left;
  max-width: 1000px;
  min-width: 1000px;
}

.intro-img-box{
  justify-content: flex-end;
  border-radius: 12px;
  margin-left: 150px;
  width: 400px;
  height: 400px;
  background-color: aqua;
}

.img{
  max-width: 400px;
  border-radius: 8px;      
}


#calories{
  text-align: center;
  font-size: 2em;
  padding: 10px;
  width: fit-content;
  margin-top: 10px;
  align-self: center;
}

/* ingredients */

.ingredients{
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 10px;
}

.ingredient{
  flex: 0 0 18%;
  padding: 20px;
  text-align: center;

}

.ingredient a{
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  background-color: rgb(140, 14, 14);
  display: inline-block;
  margin-top: 5px;
}

.ingredient img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 100%;       
  height: 150px;     
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .ingredient {
    flex: 0 0 30%;
  }
}

.ingredients {
  scroll-behavior: smooth;
}

.ingredients::-webkit-scrollbar {
  display: none;
}

/* recipe */

.recipe ol{ 
  list-style: none; 
  padding-left: 0;
}
.recipe li h4{
  color: rgb(140, 14, 14);
}
.recipe h2{
  text-align: center;
  color: rgb(140, 14, 14);
}





footer{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
footer a{
  color: black;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  background-color: antiquewhite;
  width: 300px;
  text-align: center;
  border-radius: 12px;
}

/* For opening shops */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    width: 300px;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal button {
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
}